.container {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.avatar__img {
  width: 150px;
}

.contacts__list-item {
  padding-bottom: 5px;
}

.additional_education__list-item {
  padding-bottom: 5px;
}
